python-dotenv==1.1.0
langchain-core==0.3.66
langgraph==0.4.8
langgraph-checkpoint==2.1.0
langgraph-checkpoint-postgres==2.0.21
langgraph-checkpoint-sqlite==2.0.10
langchain-openai==0.3.24
psycopg==3.2.9
psycopg-pool==3.2.6
pydantic==2.11.7
pydantic-settings==2.9.1
trustcall==0.0.39
litestar==2.16.0
